*{
    padding: 6px 8px ;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.profile_page{
    display: flex;
    justify-content: space-between;
}

.user_profile{
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 400px;
    align-items: flex-start ;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 600;
}

.profile >img{
    border-radius: 50%;
    max-width: 200px;
    
    
}

.username{
    font-size: 16px;
    font-weight: 600;
    color: rgba(10, 9, 9, 0.783);
}

.bio{
    font-size: 20px;
    font-weight: 500;
    max-width: 300px;
    text-align: start;
}

.link{
    display: flex;
    align-items: center;
    margin: 14px;
}

.link>img{
    max-width: 30px;
}

.location{
    display: flex;
    align-items: center;
    margin: 14px;
}

.location >img{
    max-width: 30px;
}

.content{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;  
      
}

.repo_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    padding: 8px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.repo_name{
    font-size: 20px;
    font-weight: 600;
    
}

.repo_description{
    font-size: 16px;
    font-weight: 500;
    color: rgba(10, 9, 9, 0.783);
    overflow: hidden;
}

.hashtag_boxes{
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
}

.hashtag_box{
    max-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 00;

    
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
}

.list{
    display: flex;
    align-items: center;
}

.list .list_item{
    list-style: none;
    
    font-size: 16px;
    
}

.page_text > span{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.row_per_page{
    display: flex;
    align-items: center;

}

select{
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    
}



input{
    max-width: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
}

.selector{
    display: flex;
    align-items: center;
}

.back{
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 8px 16px;

}

.next{
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 8px 16px;
  
}



