*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
    font-family: 'Ubuntu', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    background-image: url(./src/images/backgroung\ image.jpg);
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    
}

.title{
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
}

.input-field{
    display: flex;
    gap: 2rem;
}

.form-control{
    border: solid 2px #938b8be8;
    border-radius: 5rem;
    outline: none;
    height: 5rem;
    width: 40rem;
    padding: 0 3rem;
    font-size: 1.6rem;

}

button{
    background-color: none;
}

a{
    font-size: 5rem;
}