*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
    font-family: 'Ubuntu', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    background-color: white;
}

.input-field{
    min-width: 20rem;
    max-width: 100rem;
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #E9F4F6;
    display: flex;
    align-items: stretch;
}

.input-field input {
    background-color: transparent;
    width: 40rem;
    padding: 10px 20px;
    flex-grow: 1;
    outline: none;
    border: none;
}

.input-field button{
    all: unset;
    color: #89aab0;
    padding: .7rem 2rem 1rem 0;
}
.input-field button svg{
    fill: #64939b;
}
.input-field button:hover{
    cursor: pointer;
}